<% provide(:title, "About") %>
<head>
    <title><%= yield(:title) %> | Online Judge Sample App</title>
  </head>
<h1>About</h1>
<p>
 Our application support judging for more than 45 programming languages and compilers, including C, C++, Pascal, JAVA, C#, Perl, Python, Ruby etc. <br>
 The platform is open to the entire programming community to improve their own coding. 

<p></p>
