<% provide(:title, 'Contact') %>
<h1>Direction</h1>
<p>
  Our judges will score based on following criteria:<br>
  1. Correctness <br>
  2. Creativity <br>
  3. Relevance <br>
  4. Sustainibility <br>
  5. User Experience <br>
  
  Your submission will be checked by multiple judges to achieve fair scoring. Also, if needed the submissions my be modified by the Admin!
  
  </p>