<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section> 
  </aside>
  <div class="col-md-8">
    <% if @user.scoreboards.any? %>
      <h3>Scoreboards</h3>
      <ol class="scoreboards">
        <%= render @scoreboards %>
      </ol>
      <%= will_paginate @scoreboards %>
    <% end %>
  </div>
  